@charset "UTF-8";
/*主色用于菜单的选中状态、翻页选中状态、单选框及复选框*/
/*主色用于部分图标*/
/*辅色用于消息提醒及日历控件和部分图标-badge*/
/*辅色用于按钮颜色*/
/*按钮滑上样式*/
/*辅色用于错误提示及必填项提示*/
/*辅色用于表格底色*/
/*头部颜色*/
/*菜单颜色*/
/*弹层-叹号边框*/
/*弹层对勾边框*/
/*弹层错误边框*/
/*弹层服务器繁忙边框*/
/*禁用背景颜色*/
/*禁用字体颜色*/
/*边框颜色*/
/*badge边框颜色*/
/*一级标题的下边框线*/
/*二级标题的下边框线*/
/*二级标题背景颜色*/
/*表格表头颜色*/
/*表格隔行变色*/
.sino-table .sino-radio {
  margin-top: 3px; }

.sino-checkbox, .sino-checkbox__input {
  cursor: pointer;
  display: inline-block;
  position: relative; }

.sino-checkbox, .sino-checkbox-button__inner {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  white-space: nowrap; }

.sino-checkbox {
  color: #1f2d3d; }

.sino-checkbox + .sino-checkbox {
  margin-left: 15px; }

.sino-checkbox__input {
  white-space: nowrap;
  outline: 0;
  line-height: 1;
  vertical-align: middle; }

.sino-checkbox__input.is-indeterminate .sino-checkbox__inner {
  background-color: #20a0ff;
  border-color: #0190fe; }

.sino-checkbox__input.is-indeterminate .sino-checkbox__inner::before {
  content: '';
  position: absolute;
  display: block;
  border: 1px solid #fff;
  margin-top: -1px;
  left: 3px;
  right: 3px;
  top: 50%; }

.sino-checkbox__input.is-indeterminate .sino-checkbox__inner::after {
  display: none; }

.sino-checkbox__input.is-focus .sino-checkbox__inner {
  border-color: #20a0ff; }

.sino-checkbox__input.is-checked .sino-checkbox__inner {
  background-color: #20a0ff;
  border-color: #0190fe; }

.sino-checkbox__input.is-checked .sino-checkbox__inner::after {
  -ms-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1); }

.sino-checkbox__input.is-disabled .sino-checkbox__inner {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  cursor: not-allowed; }

.sino-checkbox__input.is-disabled .sino-checkbox__inner::after {
  cursor: not-allowed;
  border-color: #eef1f6; }

.sino-checkbox__input.is-disabled .sino-checkbox__inner + .sino-checkbox__label {
  cursor: not-allowed; }

.sino-checkbox__input.is-disabled.is-checked .sino-checkbox__inner {
  background-color: #d1dbe5;
  border-color: #d1dbe5; }

.sino-checkbox__input.is-disabled.is-checked .sino-checkbox__inner::after {
  border-color: #fff; }

.sino-checkbox__input.is-disabled.is-indeterminate .sino-checkbox__inner {
  background-color: #d1dbe5;
  border-color: #d1dbe5; }

.sino-checkbox__input.is-disabled.is-indeterminate .sino-checkbox__inner::before {
  border-color: #fff; }

.sino-checkbox__input.is-disabled + .sino-checkbox__label {
  color: #bbb;
  cursor: not-allowed; }

.sino-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background-color: #fff;
  z-index: 1;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46); }

.sino-checkbox__inner:hover {
  border-color: #20a0ff; }

.sino-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 1px;
  -ms-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 4px;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
  -ms-transform-origin: center;
  transform-origin: center; }

.sino-table, .sino-table td, .sino-table th, .sino-tag {
  box-sizing: border-box; }

.sino-checkbox__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  left: -999px; }

.sino-checkbox-button, .sino-checkbox-button__inner {
  position: relative;
  display: inline-block; }

.sino-checkbox__label {
  font-size: 14px;
  padding-left: 5px; }

.sino-checkbox-button.is-checked .sino-checkbox-button__inner {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  box-shadow: -1px 0 0 0 #20a0ff; }

.sino-checkbox-button.is-disabled .sino-checkbox-button__inner {
  color: #bfcbd9;
  cursor: not-allowed;
  background-image: none;
  background-color: #eef1f6;
  border-color: #d1dbe5;
  box-shadow: none; }

.sino-checkbox-button.is-focus .sino-checkbox-button__inner {
  border-color: #20a0ff; }

.sino-checkbox-button:first-child .sino-checkbox-button__inner {
  border-left: 1px solid #bfcbd9;
  border-radius: 4px 0 0 4px;
  box-shadow: none !important; }

.sino-checkbox-button:last-child .sino-checkbox-button__inner {
  border-radius: 0 4px 4px 0; }

.sino-checkbox-button__inner {
  line-height: 1;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bfcbd9;
  border-left: 0;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0; }

.sino-checkbox-button__inner:hover {
  color: #20a0ff; }

.sino-checkbox-button__inner [class*=sino-icon-] {
  line-height: 0.9; }

.sino-checkbox-button__inner [class*=sino-icon-] + span {
  margin-left: 5px; }

.sino-checkbox-button__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  visibility: hidden;
  left: -999px; }

.sino-checkbox-button--large .sino-checkbox-button__inner {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 0; }

.sino-checkbox-button--small .sino-checkbox-button__inner {
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 0; }

.sino-checkbox-button--mini .sino-checkbox-button__inner {
  padding: 4px;
  font-size: 12px;
  border-radius: 0; }

.sino-tag {
  background-color: #8391a5;
  display: inline-block;
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap; }

.sino-tag .sino-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
  height: 18px;
  width: 18px;
  line-height: 18px;
  vertical-align: middle;
  top: -1px;
  right: -2px; }

.sino-tag .sino-icon-close:hover {
  background-color: #fff;
  color: #8391a5; }

.sino-tag--gray {
  background-color: #e4e8f1;
  border-color: #e4e8f1;
  color: #48576a; }

.sino-tag--gray .sino-tag__close:hover {
  background-color: #48576a;
  color: #fff; }

.sino-tag--gray.is-hit {
  border-color: #48576a; }

.sino-tag--primary {
  background-color: rgba(32, 160, 255, 0.1);
  border-color: rgba(32, 160, 255, 0.2);
  color: #20a0ff; }

.sino-tag--primary .sino-tag__close:hover {
  background-color: #20a0ff;
  color: #fff; }

.sino-tag--primary.is-hit {
  border-color: #20a0ff; }

.sino-tag--success {
  background-color: rgba(18, 206, 102, 0.1);
  border-color: rgba(18, 206, 102, 0.2);
  color: #13ce66; }

.sino-tag--success .sino-tag__close:hover {
  background-color: #13ce66;
  color: #fff; }

.sino-tag--success.is-hit {
  border-color: #13ce66; }

.sino-tag--warning {
  background-color: rgba(247, 186, 41, 0.1);
  border-color: rgba(247, 186, 41, 0.2);
  color: #f7ba2a; }

.sino-tag--warning .sino-tag__close:hover {
  background-color: #f7ba2a;
  color: #fff; }

.sino-tag--warning.is-hit {
  border-color: #f7ba2a; }

.sino-tag--danger {
  background-color: rgba(255, 73, 73, 0.1);
  border-color: rgba(255, 73, 73, 0.2);
  color: #ff4949; }

.sino-tag--danger .sino-tag__close:hover {
  background-color: #ff4949;
  color: #fff; }

.sino-tag--danger.is-hit {
  border-color: #ff4949; }

.sino-table {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #dfe6ec;
  border-left: 2px solid #f3f8fb;
  font-size: 14px;
  color: #1f2d3d; }

.sino-table .sino-tooltip.cell {
  white-space: nowrap;
  min-width: 50px; }

.sino-table td, .sino-table th {
  height: 36px;
  min-width: 0;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative; }

.sino-table td {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #666; }

.sino-table::after, .sino-table::before {
  content: '';
  position: absolute;
  background-color: #dfe6ec;
  z-index: 1; }

.sino-table td.is-right, .sino-table th.is-right {
  text-align: right; }

.sino-table td.is-left, .sino-table th.is-left {
  text-align: left; }

.sino-table td.is-center, .sino-table th.is-center {
  text-align: center; }

/*.sino-table td,.sino-table th.is-leaf {
  border-bottom: 1px solid #dfe6ec
}*/
.sino-table td.gutter, .sino-table th.gutter {
  width: 15px;
  border-right-width: 0;
  border-bottom: 1px solid #e4e4e4;
  padding: 0; }

.sino-table .cell, .sino-table th > div {
  box-sizing: border-box;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px; }

.sino-table td.is-hidden > *, .sino-table th.is-hidden > * {
  visibility: hidden; }

.sino-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; }

.sino-table::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%; }

.sino-table .caret-wrapper, .sino-table th > .cell {
  position: relative;
  vertical-align: middle;
  display: inline-block; }

.sino-table th {
  white-space: nowrap;
  overflow: hidden;
  background-color: #e0eef8;
  text-align: left;
  font-size: 14px;
  color: #666;
  font-weight: bold; }

.sino-table th > div {
  display: inline-block;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap; }

.sino-table td > div {
  box-sizing: border-box; }

.sino-table th.required > div::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d51;
  margin-right: 5px;
  vertical-align: middle; }

.sino-table th > .cell {
  word-wrap: normal;
  text-overflow: ellipsis;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box; }

.sino-table th > .cell.highlight {
  color: #20a0ff; }

.sino-table td > .cell span.table-span {
  color: #399ff2;
  cursor: pointer; }

.sino-table td > .cell i.table-i {
  color: #399ff2;
  margin-left: 5px; }

.sino-table .caret-wrapper {
  cursor: pointer;
  margin-left: 5px;
  margin-top: -2px;
  width: 16px;
  height: 30px;
  overflow: visible;
  overflow: initial; }

.sino-table .cell, .sino-table__footer-wrapper, .sino-table__header-wrapper {
  overflow: hidden; }

.sino-table .sort-caret {
  display: inline-block;
  width: 0;
  height: 0;
  border: 0;
  content: "";
  position: absolute;
  left: 3px;
  z-index: 2; }

.sino-table .sort-caret.ascending, .sino-table .sort-caret.descending {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.sino-table .sort-caret.ascending {
  top: 9px;
  border-top: none;
  border-bottom: 5px solid #97a8be; }

.sino-table .sort-caret.descending {
  bottom: 9px;
  border-top: 5px solid #97a8be;
  border-bottom: none; }

.sino-table .ascending .sort-caret.ascending {
  border-bottom-color: #48576a; }

.sino-table .descending .sort-caret.descending {
  border-top-color: #48576a; }

.sino-table .cell {
  white-space: nowrap;
  word-break: break-all;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis; }

.sino-table tr input[type=checkbox] {
  margin: 0; }

.sino-table tr {
  background-color: #fff; }

.sino-table .hidden-columns {
  visibility: hidden;
  position: absolute;
  z-index: -1; }

.sino-table__empty-block {
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%; }

.sino-table__empty-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #5e7382; }

.sino-table__expand-column .cell {
  padding: 0;
  text-align: center; }

.sino-table__expand-icon {
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 12px;
  transition: transform .2s ease-in-out;
  height: 40px; }

.sino-table__expand-icon > .sino-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px; }

.sino-table__expand-icon--expanded {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sino-table__expanded-cell {
  padding: 20px 50px;
  background-color: #fbfdff;
  box-shadow: inset 0 2px 0 #f4f4f4; }

.sino-table__expanded-cell:hover {
  background-color: #fbfdff !important; }

.sino-table--fit {
  border-right: 0;
  border-bottom: 0; }

.sino-table--border th, .sino-table__fixed-right-patch {
  border-bottom: 1px solid #dfe6ec; }

.sino-table--fit td.gutter, .sino-table--fit th.gutter {
  border-left: 0; }

.sino-table--border td, .sino-table--border th {
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

.sino-table--border td:first-child, .sino-table--border th:first-child {
  border-left: 0; }

.sino-table--striped td, .sino-table--striped th {
  border-bottom: 0;
  border-left: 1px solid #e4e4e4; }

.sino-table--striped td:first-child, .sino-table--striped th:first-child {
  border-left: 0; }

.sino-table__fixed, .sino-table__fixed-right {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 0 8px #d3d4d6;
  overflow-x: hidden; }

.sino-table__fixed-right::before, .sino-table__fixed::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  /*background-color: #dfe6ec;*/
  z-index: 4; }

.sino-table__fixed-right-patch {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #e0eef8; }

.sino-table__fixed-right {
  top: 0;
  left: auto;
  right: 0;
  box-shadow: -1px 0 8px #d3d4d6; }

.sino-table__fixed-right .sino-table__fixed-body-wrapper, .sino-table__fixed-right .sino-table__fixed-footer-wrapper, .sino-table__fixed-right .sino-table__fixed-header-wrapper {
  left: auto;
  right: 0; }

/*.sino-table__fixed-body-wrapper td,.sino-table__fixed-body-wrapper th{border-left:0;border-right: 1px solid #e4e4e4;}
.sino-table__fixed-body-wrapper td:first-child,.sino-table__fixed-body-wrapper th:first-child{border-right: 0}*/
.sino-table__fixed-header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; }

.sino-table__fixed-header-wrapper thead div {
  background-color: #e0eef8;
  color: #666; }

.sino-table__fixed-footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3; }

.sino-table__fixed-footer-wrapper tbody td {
  border-top: 1px solid #dfe6ec;
  background-color: #fbfdff;
  color: #1f2d3d; }

.sino-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 37px;
  overflow: hidden;
  z-index: 3; }

.sino-table__body-wrapper, .sino-table__footer-wrapper, .sino-table__header-wrapper {
  width: 100%; }

.sino-table__footer-wrapper {
  margin-top: -1px; }

.sino-table__footer-wrapper td {
  border-top: 1px solid #dfe6ec; }

.sino-table__body, .sino-table__footer, .sino-table__header {
  table-layout: fixed;
  overflow: hidden; }

.sino-table__footer-wrapper thead div, .sino-table__header-wrapper thead div {
  background-color: #eef1f6;
  color: #1f2d3d; }

.sino-table__footer-wrapper tbody td, .sino-table__header-wrapper tbody td {
  background-color: #fbfdff;
  color: #1f2d3d; }

.sino-table__body-wrapper {
  overflow: auto;
  position: relative; }

.sino-table--striped .sino-table__body tr.sino-table__row--striped td {
  background: #f3f8fb;
  background-clip: padding-box; }

.sino-table--striped .sino-table__body tr.sino-table__row--striped.current-row td {
  background: #edf7ff; }

.sino-table .sino-table__body tr.sino-table__row--striped.hover-row > td {
  background: #f3f8fb; }

.sino-table__body tr.current-row > td {
  background: #edf7ff; }

.sino-table__column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #dfe6ec;
  z-index: 10; }

.sino-table__column-filter-trigger {
  display: inline-block;
  line-height: 34px;
  margin-left: 5px;
  cursor: pointer; }

.sino-table__column-filter-trigger i {
  color: #97a8be; }

.sino-table--enable-row-transition .sino-table__body td {
  transition: background-color 0.25s ease; }

.sino-table--enable-row-hover .sino-table__body tr:hover > td {
  background-color: #f3f8fb;
  background-clip: padding-box; }

.sino-table--fluid-height .sino-table__fixed, .sino-table--fluid-height .sino-table__fixed-right {
  bottom: 0;
  overflow: hidden; }

.sino-table__fixed th, .sino-table__fixed td {
  border-right: 0; }

.sino-table__fixed-right th, .sino-table__fixed-right td {
  border-left: 0;
  border-right: 1px solid #e4e4e4; }

.sino-table__footer-wrapper thead div, .sino-table__header-wrapper thead div {
  background: #e0eef8;
  color: #666; }

.sino-table.sino-table--striped .sino-table__body tr:hover > td {
  background: none; }

.sino-table--striped .sino-table__body tr.sino-table__row--striped:hover td {
  background: #f3f8fb;
  background-clip: padding-box; }

.cell span.is-span {
  margin-left: 30px;
  color: #666; }

.ms-tree-space {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: 18px;
  height: 14px; }

.ms-tree-space::before {
  content: ""; }

table td {
  line-height: 26px; }

.sino-table__row i {
  color: #ffc333; }

/*!*add 2017-08-30 created by COCO*!*/
.sino-table .sino-input {
  width: 100%; }

.sino-table .sino-input .sino-input-inner {
  width: 100%;
  border: 0; }

.sino-table__body td.is-edit {
  position: relative; }

.sino-table__body td.is-edit:before {
  content: "";
  background: url("../icon/icon.png") no-repeat 0 -59px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 6px;
  height: 6px; }

.sino-table__body td.is-finish:before {
  content: "";
  background: url("../icon/icon.png") no-repeat 0 -77px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 17px;
  height: 17px; }

.sino-table .cell .sino-select-group {
  width: 100%; }

.sino-table--fit td.gutter, .sino-table--fit th.gutter {
  border-bottom: 1px solid #dfe6ec;
  border-left: 0; }

.sino-table .cell .sino-checked-inner {
  margin-top: 4px; }

.cell select {
  text-align: center;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  position: relative; }

.sino-table__empty-img {
  display: block;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -106px; }

.sino-table__empty-text {
  position: absolute;
  top: 233px;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  margin-bottom: 50px;
  font-size: 16px;
  color: #666; }

.sino-table__empty-text span {
  color: #399ff2;
  cursor: pointer; }

.sino-table__empty-block {
  width: 100% !important;
  height: 100%;
  min-height: 335px; }

.sino-table .cell .icon-nochild {
  width: 10px;
  height: 12px;
  background: url("../icon/icon.png") no-repeat 0 -38px;
  display: inline-block;
  margin-left: 3px; }

.sino-table__row i {
  font-size: 14px; }

.sino-table__row i.icon-rili1 {
  font-size: 16px; }

/*icon*/
.sino-table .sino-table-money-plus {
  color: #2FB95B;
  float: right; }

.sino-table .sino-table-money-span-plus {
  color: #2FB95B;
  float: left; }

.sino-table .sino-table-money-minus {
  float: right;
  color: #ff6600; }

.sino-table .sino-table-money-span-minus {
  float: left;
  color: #ff6600; }

.sino-table-total {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border-top: 2px solid #9ccff8;
  border-bottom: 2px solid #d9dcde;
  padding: 0 15px 10px 15px;
  background: #fff; }

.sino-table-total .sino-table {
  margin-top: 45px; }

.sino-table-icon {
  width: 100%;
  height: 44px;
  overflow: hidden;
  background: #fff;
  z-index: 11;
  box-sizing: border-box;
  transition: height 0.5s ease-out;
  padding: 0 15px;
  transform-origin: center top 0;
  float: left; }

.sino-table-icon-auto {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 5px #999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  box-sizing: border-box;
  transform-origin: center top 0; }

.sino-table-icon-left {
  width: 88%;
  min-width: 83%;
  float: left; }

.sino-table-icon-right.is-icon-text {
  width: 12%;
  min-width: 81px;
  float: right;
  height: 44px;
  line-height: 44px; }

.sino-table-icon-right.is-icon-text span {
  margin-right: 0;
  color: #399ff2; }

.sino-table-icon-left .is-icon-text {
  line-height: 44px;
  height: 44px;
  display: inline-block; }

.sino-table-icon-right.fr .sino-button-span {
  float: right; }

.sino-table-filter__checkbox-group {
  overflow: hidden;
  padding-bottom: 0; }

.sino-table-filter__checkbox-group .sino-checked-label {
  overflow: hidden;
  display: block;
  margin-bottom: 10px; }

/*# sourceMappingURL=sinotable.css.map */
