@charset "UTF-8";
/*主色用于菜单的选中状态、翻页选中状态、单选框及复选框*/
/*主色用于部分图标*/
/*辅色用于消息提醒及日历控件和部分图标-badge*/
/*辅色用于按钮颜色*/
/*按钮滑上样式*/
/*辅色用于错误提示及必填项提示*/
/*辅色用于表格底色*/
/*头部颜色*/
/*菜单颜色*/
/*弹层-叹号边框*/
/*弹层对勾边框*/
/*弹层错误边框*/
/*弹层服务器繁忙边框*/
/*禁用背景颜色*/
/*禁用字体颜色*/
/*边框颜色*/
/*badge边框颜色*/
/*一级标题的下边框线*/
/*二级标题的下边框线*/
/*二级标题背景颜色*/
/*表格表头颜色*/
/*表格隔行变色*/
.sino-date-table {
  -webkit-user-select: none;
  -ms-user-select: none; }

.sino-date-table {
  -moz-user-select: none; }

.sino-date-table {
  font-size: 12px;
  min-width: 224px;
  user-select: none; }

.sino-date-table td {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer; }

.sino-date-table td.next-month, .sino-date-table td.prev-month {
  color: #ddd; }

.sino-date-table td.today {
  color: #399ff2;
  position: relative; }

.sino-date-table td.today:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: .5em solid #399ff2;
  border-left: .5em solid transparent; }

.sino-month-table td .cell, .sino-year-table td .cell {
  width: 48px;
  height: 32px;
  display: block;
  line-height: 32px; }

.sino-date-table td.available:hover {
  background-color: #e4e8f1; }

.sino-date-table td.in-range {
  background-color: #d2ecff; }

.sino-date-table td.in-range:hover {
  background-color: #afddff; }

.sino-date-table td.current:not(.disabled), .sino-date-table td.end-date, .sino-date-table td.start-date {
  background-color: #399ff2 !important;
  color: #fff;
  border-radius: 4px; }

.sino-date-table td.disabled {
  background-color: #f4f4f4;
  opacity: 1;
  color: #ccc;
  cursor: default; }

.fade-in-linear-enter, .fade-in-linear-leave, .fade-in-linear-leave-active, .sino-fade-in-enter, .sino-fade-in-leave-active, .sino-fade-in-linear-enter, .sino-fade-in-linear-leave, .sino-fade-in-linear-leave-active {
  opacity: 0; }

.sino-date-table td.week {
  font-size: 80%;
  color: #8391a5; }

.sino-month-table, .sino-year-table {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse; }

.sino-date-table th {
  padding: 5px;
  color: #8391a5;
  font-weight: 400; }

.sino-date-table.is-week-mode .sino-date-table-row:hover {
  background-color: #e4e8f1; }

.sino-date-table.is-week-mode .sino-date-table-row.current {
  background-color: #d2ecff; }

.sino-month-table td {
  text-align: center;
  padding: 20px 3px;
  cursor: pointer; }

.sino-month-table td .cell {
  color: #48576a; }

.sino-month-table td .cell:hover {
  background-color: #e4e8f1; }

.sino-month-table td.disabled .cell {
  background-color: #f4f4f4;
  cursor: not-allowed;
  color: #ccc; }

.sino-month-table td.current:not(.disabled) .cell {
  background-color: #399ff2 !important;
  color: #fff; }

.sino-year-table .sino-icon {
  color: #97a8be; }

.sino-year-table td {
  text-align: center;
  padding: 20px 3px;
  cursor: pointer; }

.sino-year-table td .cell {
  color: #48576a; }

.sino-year-table td .cell:hover {
  background-color: #e4e8f1; }

.sino-year-table td.disabled .cell {
  background-color: #f4f4f4;
  cursor: not-allowed;
  color: #ccc; }

.sino-year-table td.current:not(.disabled) .cell {
  background-color: #399ff2 !important;
  color: #fff; }

.sino-date-range-picker {
  min-width: 520px; }

.sino-date-range-picker table {
  table-layout: fixed;
  width: 100%; }

.sino-date-range-picker .sino-picker-panel-body {
  min-width: 513px; }

.sino-date-range-picker .sino-picker-panel-content {
  margin: 0; }

.sino-date-range-picker.has-sidebar.has-time {
  min-width: 766px; }

.sino-date-range-picker.has-sidebar {
  min-width: 620px; }

.sino-date-range-picker.has-time {
  min-width: 660px; }

.sino-date-range-picker-header {
  position: relative;
  text-align: center;
  height: 28px; }

.sino-date-range-picker-header button {
  float: left; }

.sino-date-range-picker-header div {
  font-size: 14px;
  margin-right: 50px; }

.sino-date-range-picker-content {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 16px; }

.sino-date-range-picker-content.is-right .sino-date-range-picker-header button {
  float: right; }

.sino-date-range-picker-content.is-right .sino-date-range-picker-header div {
  margin-left: 50px;
  margin-right: 50px; }

.sino-date-range-picker-content.is-left {
  border-right: 1px solid #e4e4e4; }

.sino-date-range-picker-editors-wrap {
  box-sizing: border-box;
  display: table-cell; }

.sino-date-range-picker-editors-wrap.is-right {
  text-align: right; }

.sino-date-range-picker-time-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  padding: 8px 5px 5px;
  display: table;
  width: 100%;
  box-sizing: border-box; }

.sino-date-range-picker-time-header > .sino-icon-arrow-right {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  color: #97a8be; }

.sino-date-range-picker-time-picker-wrap {
  position: relative;
  display: table-cell;
  padding: 0 5px; }

.sino-date-range-picker-time-picker-wrap .sino-picker-panel {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 1;
  background: #fff; }

.sino-time-range-picker {
  min-width: 354px;
  overflow: visible; }

.sino-time-range-picker-content {
  position: relative;
  text-align: center;
  padding: 10px; }

.sino-time-range-picker-cell {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 7px 7px;
  width: 50%;
  display: inline-block; }

.sino-time-range-picker-header {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px; }

.sino-time-range-picker-body {
  border-radius: 2px;
  border: 1px solid #d1dbe5; }

.sino-picker-panel {
  color: #48576a;
  border: 1px solid #d1dbe5;
  box-shadow: 0 2px 6px #ccc;
  background: #fff;
  border-radius: 2px;
  line-height: 20px;
  margin: -1px 0; }

.sino-picker-panel-body-wrapper::after, .sino-picker-panel-body::after {
  content: "";
  display: table;
  clear: both; }

.sino-picker-panel-content {
  position: relative;
  margin: 15px; }

.sino-picker-panel-footer {
  border-top: 1px solid #e4e4e4;
  padding: 4px;
  text-align: right;
  background-color: #fff;
  position: relative; }

.sino-picker-panel-shortcut {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 28px;
  font-size: 14px;
  color: #48576a;
  padding-left: 12px;
  text-align: left;
  outline: 0;
  cursor: pointer; }

.sino-picker-panel-shortcut:hover {
  background-color: #e4e8f1; }

.sino-picker-panel-shortcut.active {
  background-color: #e6f1fe;
  color: #399ff2; }

.sino-picker-panel-btn {
  border: 1px solid #dcdcdc;
  color: #333;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  font-size: 12px; }

.sino-picker-panel-btn[disabled] {
  color: #ccc;
  cursor: not-allowed; }

.sino-picker-panel-icon-btn {
  font-size: 14px;
  color: #97a8be;
  border: 0;
  background: 0 0;
  cursor: pointer;
  outline: 0; }

.sino-picker-panel-icon-btn.sino-icon44 {
  float: left;
  margin-top: 5px; }

.sino-picker-panel-icon-btn.sino-icon53 {
  float: right;
  margin-top: 5px; }

.sino-date-picker-header-label.active, .sino-date-picker-header-label:hover, .sino-picker-panel-icon-btn:hover {
  color: #399ff2; }

.sino-picker-panel-link-btn {
  cursor: pointer;
  color: #399ff2;
  text-decoration: none;
  padding: 15px;
  font-size: 12px; }

.sino-picker-panel [slot=sidebar], .sino-picker-panel-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding-top: 6px;
  background-color: #fbfdff;
  overflow: auto; }

.sino-picker-panel [slot=sidebar] + .sino-picker-panel-body, .sino-picker-panel-sidebar + .sino-picker-panel-body {
  margin-left: 110px; }

.sino-date-picker {
  min-width: 254px; }

.sino-date-picker .sino-picker-panel-content {
  min-width: 224px; }

.sino-date-picker table {
  table-layout: fixed;
  width: 100%; }

.sino-date-picker.has-sidebar.has-time {
  min-width: 434px; }

.sino-date-picker.has-sidebar {
  min-width: 370px; }

.sino-date-picker.has-time {
  min-width: 324px; }

.sino-date-picker-editor-wrap {
  position: relative;
  display: table-cell;
  padding: 0 5px; }

.sino-date-picker-time-header {
  position: relative;
  font-size: 12px;
  padding: 8px 5px 5px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  box-sizing: border-box; }

.sino-date-picker-header {
  margin: 12px;
  text-align: center;
  padding: 0 13px; }

.sino-date-picker-header-label {
  font-size: 14px;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer; }

.sino-date-picker-prev-btn {
  float: left; }

.sino-date-picker-next-btn {
  float: right; }

.sino-date-picker-time-wrap {
  padding: 10px;
  text-align: center; }

.sino-date-picker-time-label {
  float: left;
  cursor: pointer;
  line-height: 30px;
  margin-left: 10px; }

.time-select {
  margin: 5px 0;
  min-width: 0; }

.time-select .sino-picker-panel-content {
  max-height: 200px;
  margin: 0; }

.time-select-item {
  padding: 8px 10px;
  font-size: 14px; }

.time-select-item.selected:not(.disabled) {
  background-color: #399ff2;
  color: #fff; }

.time-select-item.selected:not(.disabled):hover {
  background-color: #399ff2; }

.time-select-item.disabled {
  color: #d1dbe5;
  cursor: not-allowed; }

.time-select-item:hover {
  background-color: #e4e8f1;
  cursor: pointer; }

.sino-fade-in-enter-active, .sino-fade-in-leave-active, .sino-zoom-in-center-enter-active, .sino-zoom-in-center-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); }

.sino-zoom-in-center-enter, .sino-zoom-in-center-leave-active {
  opacity: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.sino-zoom-in-top-enter-active, .sino-zoom-in-top-leave-active {
  opacity: 1;
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  -ms-transform-origin: center top;
  transform-origin: center top; }

.sino-zoom-in-top-enter, .sino-zoom-in-top-leave-active {
  opacity: 0;
  -ms-transform: scaleY(0);
  transform: scaleY(0); }

.sino-zoom-in-bottom-enter-active, .sino-zoom-in-bottom-leave-active {
  opacity: 1;
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom; }

.sino-zoom-in-bottom-enter, .sino-zoom-in-bottom-leave-active {
  opacity: 0;
  -ms-transform: scaleY(0);
  transform: scaleY(0); }

.collapse-transition {
  transition: .3s height ease-in-out,.3s padding-top ease-in-out,.3s padding-bottom ease-in-out; }

.sino-list-enter-active, .sino-list-leave-active {
  transition: all 1s; }

.sino-list-enter, .sino-list-leave-active {
  opacity: 0;
  -ms-transform: translateY(-30px);
  transform: translateY(-30px); }

.sino-date-editor {
  position: relative;
  display: inline-block; }

.sino-date-editor .sino-picker-panel {
  position: absolute;
  min-width: 180px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px #ccc;
  background: #fff;
  z-index: 10;
  top: 41px; }

.sino-date-editor.sino-input {
  width: 160px; }

.sino-date-editor-daterange.sino-input {
  width: 220px; }

.sino-date-editor-datetimerange.sino-input {
  width: 350px; }

.sino-time-spinner.has-seconds .sino-time-spinner-wrapper {
  width: 33%; }

.sino-time-spinner.has-seconds .sino-time-spinner-wrapper:nth-child(2) {
  margin-left: 1%; }

.sino-time-spinner-wrapper {
  max-height: 190px;
  overflow: auto;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  position: relative; }

.sino-time-spinner-wrapper .sino-scrollbar-wrap:not(.sino-scrollbar-wrap-hidden-default) {
  padding-bottom: 15px; }

.sino-time-spinner-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.sino-time-spinner-list::after, .sino-time-spinner-list::before {
  content: '';
  display: block;
  width: 100%;
  height: 80px; }

.sino-time-spinner-item {
  height: 32px;
  line-height: 32px;
  font-size: 12px; }

.sino-time-spinner-item:hover:not(.disabled):not(.active) {
  background: #e4e8f1;
  cursor: pointer; }

.sino-time-spinner-item.active:not(.disabled) {
  color: #fff; }

.sino-time-spinner-item.disabled {
  color: #d1dbe5;
  cursor: not-allowed; }

.sino-time-panel {
  margin: 5px 0;
  border: 1px solid #d1dbe5;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  position: absolute;
  width: 180px;
  left: 0;
  z-index: 1000;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.sino-popover, .sino-tabs-border-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04); }

.sino-slider-button, .sino-slider-button-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none; }

.sino-time-panel-content {
  font-size: 0;
  position: relative;
  overflow: hidden; }

.sino-time-panel-content::after, .sino-time-panel-content::before {
  content: ":";
  top: 50%;
  color: #fff;
  position: absolute;
  font-size: 14px;
  margin-top: -15px;
  line-height: 16px;
  background-color: #399ff2;
  height: 32px;
  z-index: -1;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: 6px;
  text-align: left; }

.sino-time-panel-content::after {
  left: 50%;
  margin-left: -2px; }

.sino-time-panel-content::before {
  padding-left: 50%;
  margin-right: -2px; }

.sino-time-panel-content.has-seconds::after {
  left: 66.66667%; }

.sino-time-panel-content.has-seconds::before {
  padding-left: 33.33333%; }

.sino-time-panel-footer {
  border-top: 1px solid #e4e4e4;
  padding: 4px;
  height: 36px;
  line-height: 25px;
  text-align: right;
  box-sizing: border-box; }

.sino-time-panel-btn {
  border: none;
  line-height: 28px;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  font-size: 12px;
  color: #8391a5; }

.sino-time-panel-btn.confirm {
  font-weight: 800;
  color: #399ff2; }

.sino-input-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffc333; }

.sino-date-picker-editor-wrap .sino-input-inner {
  width: 134px; }

.data-icon-error {
  top: 6px;
  right: 24px;
  font-size: 15px;
  color: #eaeaea;
  background: #787878;
  border-radius: 50%;
  margin-right: -2px; }

.data-icon-error.sino-cuowu:before {
  position: relative;
  top: -1px;
  left: -1px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 70%; }

.sino-picker-panel-body .sino-time-panel {
  width: 140px !important;
  margin-top: 0;
  left: 5px; }

.sino-picker-panel.has-time .sino-left {
  margin-left: -20px;
  margin-right: 20px; }

.sino-picker-panel.has-time .sino-xiangyou {
  margin-right: -20px;
  margin-left: 20px; }

.sino-input-icon.sino-rili1 {
  margin-right: -2px; }

/*# sourceMappingURL=sinodatepicker.css.map */
